@model SGI_Philips.Models.TotalRotacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TotalRotacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="invCosto" class="control-label"></label>
                <input asp-for="invCosto" class="form-control" />
                <span asp-validation-for="invCosto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invVenta" class="control-label"></label>
                <input asp-for="invVenta" class="form-control" />
                <span asp-validation-for="invVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pedidoCompra" class="control-label"></label>
                <input asp-for="pedidoCompra" class="form-control" />
                <span asp-validation-for="pedidoCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="backOrderTotal" class="control-label"></label>
                <input asp-for="backOrderTotal" class="form-control" />
                <span asp-validation-for="backOrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
