@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<div class="user-profile pull-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar">
        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i></h4>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a>
            <form class="dropdown-itemm form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Cerrar Sesion</button>
            </form>
        </div>
    }
    else
    {
        <a class="nav-link text-light" style="font-size: 16px;" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="nav-link text-light" style="font-size: 16px;" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</div>
