@model SGI_Philips.Models.Mes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreMes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
